h1{
    color:brown;
    text-align: center;
}
form{
    color: blueviolet;
    text-align: left;
    margin: 0px;
}
button{
    color: blue;
}
body{
    background-color: bisque;
}
input{
    width: 200px;
}
select{
    width: 200px;
}